.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    margin:  2rem 0;
    text-align: center;
    
}

.cont{
    
    
    
}

.link{
    color: black;
    font-weight: normal;
}.link:hover{
    color: rgb(91, 91, 91);
}


@media (min-width: 768px){
    .container{
        flex-direction: row;
        font-size: 1.2rem;
    }
}